
<tr id="<%= post.id %>" class="hover:bg-gray-100">
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
    <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
    <div data-controller="modal">
      <button data-action="modal#open" class="btn-outline"><%= post.title %></button>
      <dialog data-modal-target="modal" class="max-w-screen-md rounded-3xl bg-gray-100">
        <%= render "posts/show", post: post %>
      </dialog>
    </div>
  </th>

  <td scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500">
      <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
    <div class="flex gap-1">
      <% post.stacks.each do |stack| %>
        <i class="text-3xl devicon-<%= stack.name %>-plain colored"></i>
        <%#= stack.name %>
    <% end %>
    </div>
  </td>
  <%# <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.company&.name</th> %>

  <td scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.location %>
    <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
  </td>

  <td scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.contract_type %>
    <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
  </td>

  <td scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.published_on&.strftime("%Y-%m-%d") %>
    <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
  </td>

  <td class="justify-items-center items-center px-3 py-1 text-sm text-500" data-controller="status" data-status-post-id-value="<%= post.id %>">
    <div class="relative inline-block text-left">

      <div data-status-target="insert">
        <%= render "posts/status", post: post %>
      </div>

      <div data-status-target="dropdown" class="hidden absolute left-0 z-10 mt-2 w-auto rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 gap-y-3 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div data-action="click->status#update" class="py-1 items-center text-center mx-2 my-1" role="none">
          <span class="rounded-md text-xs font-medium text-white block px-3 py-1 mb-2 text-xs bg-[#eab308] hover:cursor-pointer hover:ring-2 hover:ring-blue active:bg-[#b88a02] active:ring-0" role="menuitem" tabindex="-1" id="menu-item-0" >Pending</span>
          <span class="rounded-md text-xs font-medium text-white block px-3 py-1 mb-2 text-xs bg-[#38a169] hover:cursor-pointer hover:ring-2 hover:ring-blue active:bg-[#27794d]" role="menuitem" tabindex="-1" id="menu-item-1" >Applied</span>
          <span class="rounded-md text-xs font-medium text-white block px-3 py-1 mb-2 text-xs bg-[#94C1EA] hover:cursor-pointer hover:ring-2 hover:ring-blue active:bg-[#416c94]" role="menuitem" tabindex="-1" id="menu-item-2" >Interviewed</span>
          <span class="rounded-md text-xs font-medium text-white block px-3 py-1 text-xs bg-[#e53e3e] hover:cursor-pointer hover:ring-2 hover:ring-blue active:bg-[#a22b2b]" role="menuitem" tabindex="-1" id="menu-item-2" >Rejected</span>
        </div>
      </div>

    </div>
  </td>

  <td>
    <%= button_to post_path(post), method: :delete, data: { turbo_method: :delete }, class: "delete-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-500 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
      </svg></i>
    <% end %>
  </td>
</tr>



   <!--   <div class="relative text-left">

     <div>
          <lottie-player class="spinner-<%= post.id %> hidden" src="<%= image_path("lottie/spinner.json")%>" background="transparent" speed="1" style="width: 58.3px; height: 58.3px" direction="1" playMode="normal" loop autoplay></lottie-player>
          <button data-action="click->status#edit" data-status-target="current" class="spinner-<%= post.id %> inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white" style="background-color: <%=post.color%>"> <%= post.status %> </button>
          <svg class="-mr-1 h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </div>

        <div class="hidden inline-flex items-center gap-x-2" data-status-target="dropdown" >
          <button data-action="click->status#pending" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white" style="background-color: <%=post.color%>" >Pending</button>
          <button data-action="click->status#applied" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white" style="background-color: <%=post.color%>" >Applied</button>
          <button data-action="click->status#interviewed" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white" style="background-color: <%=post.color%>" >Interviewed</button>
          <button data-action="click->status#refused" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white" style="background-color: <%=post.color%>" >Refused</button>
        </div>


          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Pending</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Applied</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Interviewed</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Refused</a>

    -->
