
<tr id="<%= post.id %>">
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
      <div data-controller="modal">
        <button data-action="modal#open" class="btn-outline"><%= post.title%></button>
          <dialog data-modal-target="modal" class="rounded-3xl">
            <%= render "posts/show", post: post %>
          </dialog>
      </div>
  </th>
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500">
    <div class="flex gap-1">
      <% post.stacks.each do |stack| %>
        <i class="text-3xl devicon-<%= stack.name %>-plain colored"></i>
        <%#= stack.name %>
    <% end %>
    </div>
  </th>
  <%# <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.company&.name</th> %>
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.location %></th>
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.contract_type %></th>
  <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-500"><%= post.published_on&.strftime("%Y-%m-%d") %></th>
  <td class="whitespace-nowrap px-3 py-1 text-sm text-500">
    <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-black-700" style="background-color: <%=post.color%>"><%= post.status %></span>
  </td>
</tr>
