<div class="mx-auto mt-8 rounded overflow-x-hidden bg-gray-100 m-6 hover:shadow-lg">
  <div class= "mx-10 ">
   <button type="button" data-action="modal#close" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
    <img src="<%= asset_path('clip.png') %>" alt="Clip Paper" class="absolute top-1 left-1/2 transform -translate-x-1/2" style="width: 90px; height: auto; display: block; margin-left: auto; margin-right: auto;" >
    <div class="w-full p-8 bg-white rounded-md shadow-md bg-gray-100">
      <a href= "<%= post.url %>" class="inline-flex items-center bg-gray-900 text-white rounded-3xl px-3 py-2 text-sm font-medium mb-4 transition duration-300 ease-in-out hover:bg-gray-800 hover:text-gray-200 hover:bg-opacity-80">
        Apply <svg class="h-6 w-6 text-zinc-100 ml-2 mb-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />  <line x1="10" y1="14" x2="20" y2="4" />  <polyline points="15 4 20 4 20 9" /></svg>
      </a>
      <h1 class="text-2xl font-bold mb-2 text-center"><%= post.title%></h1>
      <hr class="my-2 border-t-2 border-gray-300">
      <p class="text-gray-600 mb-2"><i>Published on <%= post.published_on%></i></p>
      <div class="mb-4 whitespace-normal">
        <p class="text-gray-700 mb-1 bullet-point"><strong>Company : </strong><%= post.company&.name%></p>
        <p class="text-gray-700 mb-1 bullet-point"><strong>Stack :</strong>
          <% post.stacks.each do |stack| %>
            <div class="flex gap-1">
              <i class=" text-xl devicon-<%= stack.name%>-plain colored"></i>
              <%= stack.name %>
            </div>
          <% end %>
        </p>
        <p class="text-gray-700 mb-1 bullet-point"><strong>Location : </strong><%= post.location%></p>
        <p class="text-gray-700 mb-1 bullet-point"><strong>Contract type : </strong><%= post.contract_type%> </p>
        <p class="text-gray-700 mb-1 bullet-point"><strong>Experience years : </strong><%= post.experience_years%> </p>
        <p class="text-gray-700 mb-1 bullet-point"><strong>Description: </strong><%= post.description %></p>
      </div>
    </div>
  </div>
</div>
